<!-- Tabbed Navigation Component -->
<nav class="tabs-nav" role="tablist" aria-label="Main navigation">
    <div class="tabs-container">
        <div class="tabs-scroll" role="none">
            <ul class="tabs-list" role="none">
                <li role="none">
                    <a href="/" role="tab" aria-controls="home-content" class="tab-link">
                        Home
                    </a>
                </li>
                <li role="none">
                    <a href="/about" role="tab" aria-controls="about-content" class="tab-link">
                        About
                    </a>
                </li>
                <li role="none">
                    <a href="/events" role="tab" aria-controls="events-content" class="tab-link">
                        Events
                    </a>
                </li>
                <li role="none">
                    <a href="/newsletters" role="tab" aria-controls="newsletters-content" class="tab-link">
                        Newsletters
                    </a>
                </li>
                <li role="none">
                    <a href="/brackets" role="tab" aria-controls="brackets-content" class="tab-link">
                        Brackets
                    </a>
                </li>
                <li role="none">
                    <a href="/contact" role="tab" aria-controls="contact-content" class="tab-link">
                        Contact
                    </a>
                </li>
            </ul>
        </div>
        
        <div class="tabs-more">
            <button 
                class="more-button" 
                aria-expanded="false" 
                aria-haspopup="menu" 
                aria-controls="more-menu"
                aria-label="More navigation options"
            >
                More
                <svg width="12" height="12" viewBox="0 0 12 12" fill="currentColor" aria-hidden="true">
                    <path d="M6 8.5L2.5 5h7L6 8.5z"/>
                </svg>
            </button>
            
            <ul class="more-menu" id="more-menu" role="menu" aria-label="Additional navigation options" hidden>
                <!-- Overflow items will be moved here by JavaScript -->
            </ul>
        </div>
    </div>
    
    <div class="tabs-fade-left" aria-hidden="true"></div>
    <div class="tabs-fade-right" aria-hidden="true"></div>
</nav>